.mainPageTopics {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin-top: 2rem;
    padding-top: 0px;
}

.mainTopicContent {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
}